body {
    background: url(images/branch.png) no-repeat center center fixed; 
    background-color: Moccasin; 
    z-index: 0;
}

.birdimages {
    text-align: center;
    top: 45%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}

img {
    height: 200px;
}

